//
// Styles for destination grid.
//

.destinations-grid {

  .block-title {
    @include font-size(30, 33, 56, 56);
    text-align: center;
  }

  .view-content {
    @include section-container(1385, $c-bianca);
    display: table;
    margin: 0 auto;
    width: 100%;
  }

  .views-row {
    @include set-width(50%, 50%, 33.3333%, 33.3333%);
    display: table-cell;
    float: left;
    margin-bottom: 2rem;
    padding: 2rem;
    position: relative;
    width: 50%;
  }

  a {
    @include font-size(16, 16, 18, 26);
    color: $c-solid-black;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .views-field-title {
    margin: 5px auto 0;
    padding: 0;
    text-align: center;

    @include breakpoint(sm) {
      margin: 0 auto;
    }

    @include breakpoint(md) {
      padding: remcalc(10);
      width: 150px;

    }

    @include breakpoint(lg) {
      padding: remcalc(20);
      transform: translate(0, 10%);
      width: 250px;

    }

  }

  .custom-wrapper {
    background-color: $c-solid-white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    height: remcalc(190);

    @include breakpoint(sm) {
      height: remcalc(224);
    }

    @include breakpoint(md) {
      height: remcalc(230);
    }

    @include breakpoint(lg) {
      height: remcalc(330);
    }
  }

}
