//
// Styles for image hero destination
//

.image-hero-destination {
  height: 40rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translate3d(0px, 0px, 0px);
}