//
// Styles for hotel node page.
//

.page-node-type-hotel {
  background-color: $c-bianca;

  .layout--onecol {
    @include section-container(1385, $c-bianca);
    margin: 0 auto;
  }

  .field--name-node-title h2 {
    @include font-size(30, 33, 56, 56);
    padding: remcalc(20);
  }

  .field--name-body {
    padding: remcalc(20);
  }

  .slick-prev::before {
    border-radius: 50%;
    color: $c-solid-black;
  }

  .slick-next::before {
    border-radius: 50%;
    color: $c-solid-black;
  }

  .field--name-field-name {
    @include font-size(16, 16, 18, 26);
    padding: 0;
    text-align: center;

    @include breakpoint(sm) {
      margin: 0 auto;
    }

    @include breakpoint(md) {
      padding: remcalc(20);
      width: 150px;

    }
  }

  .field--name-field-image {
    img {
      margin: 0 auto;
    }
  }

}
