//
// Styles for destination node page.
//

.page-node-type-destinations {
  background-color: $c-bianca;

  .layout--onecol {
    @include section-container(1385, $c-bianca);
    margin: 0 auto;
  }

  .field--name-node-title h2 {
    @include font-size(30, 33, 56, 56);
    padding: remcalc(20);
  }

  .field--name-body {
    padding: remcalc(20);
  }

  .field--name-field-hotels a {
    @include font-size(16, 20, 25, 30);
    color: $c-solid-black;
    padding: remcalc(20);
    text-decoration: underline;

  }

  a:hover {
    text-decoration: none;
  }

  .slick-arrow::before {
    color: $c-solid-black;
  }

}
