//
// Base colors palette
//
$c-solid-black: hsl(0, 0%, 0%);                         // #000000
$c-solid-white: hsl(0, 0%, 100%);                       // #ffffff
$c-bianca: hsl(33, 60%, 97%);                           // #fcf8f3
