//
// Base colors palette
//
$c-solid-black: hsl(0, 0%, 0%);                         // #000000
$c-solid-white: hsl(0, 0%, 100%);                       // #ffffff
$c-bianca: hsl(33, 60%, 97%);                           // #fcf8f3
$c-astral: hsl(208, 56%, 46%);                          // #337AB7
$c-burning-orange: hsl(18, 100%, 59%)                   // #FF6D2C
